<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 

<body class="404">
     
    <main class="container">
        <div class="d-flex flex-column justify-content-center">
         <img src="/images/404.jpg"  class="img-fluid" alt="">
        
        </div>
    </main>
    <%- include('./partials/scripts') %> 

</body>

</html>